html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom, #d8d3d3, #ffffff); */
    position: relative;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 1px;
}

div::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background: #adc0cf;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background: #e3ebf6;
}

.fab {
    font-size: 32px;
    color: #303841;
    cursor: pointer;
}

.fas {
    font-size: 25px;
    color: #303841;
    cursor: pointer;
}

@font-face {
    font-family: Nunito Regular;
    src: url(./../Nunito/static/Nunito-Regular.ttf);
}

@font-face {
    font-family: Nunito Medium;
    src: url(./../Nunito/static/Nunito-Medium.ttf);
}

@font-face {
    font-family: Nunito Bold;
    src: url(./../Nunito/static/Nunito-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Nunito italic;
    src: url(./../Nunito/static/Nunito-Italic.ttf);
}

iconify-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#ext {
    position: relative;
    display: flex;
    align-items: center;
    height: 100vh;
    transition: 0.2s;
}

#tp {
    width: 100%;
    height: 10%;
    padding: 5% 0;
    color: #303841;
}

.abt_info_lt span {
    font-weight: bold;
}

.md {
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: space-between;
}

.hm {
    flex-direction: column;
}

.abt,
.wk,
.pgt,
.cont {
    flex-direction: column;
}

.wk .mid > div:first-child {
    display: none;
}

#dn {
    height: 2%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 10px;
}

.lt {
    width: 100%;
    height: 60%;
    font-family: Nunito Regular;
    color: #303841;
}

.mid {
    width: 100%;
    height: 50%;
    font-family: Nunito Regular;
    color: #303841;
}

.msgs {
    width: 55%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.rt {
    display: none;
}

#logo {
    margin-left: 15px;
    font-family: Nunito bold;
    font-size: 1.5rem;
}

#nav {
    display: none;
}

.nav_m {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 5px 0;
    background-color: #f6feffcf;
    transition: 1s;
}

.nav_m ul {
    width: auto;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_m ul li {
    padding: 5px 0;
    margin: 0;
    width: calc(100% / 5);
    text-align: center;
    float: left;
    cursor: pointer;
}

.nav_m .fas,
.nav_m .fab {
    color: #303841;
    font-size: 25px;
}

.out {
    bottom: -150px;
}

#n1 {
    width: 80%;
    margin: 5% auto 0;
    text-align: center;
}

#n1 h1 {
    font-size: 25px;
}

#n1 p {
    font-size: 16px;
    line-height: 2rem;
    margin-top: 10px;
}

button {
    padding: 6px 20px;
    border: 2px outset #303841;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #ffffff;
    background-color: #303841;
    outline: 0;
    font-family: Nunito Bold;
}

.pgt .lt .card-body a {
    color: #303841;
}

.skls h2 {
    text-align: center;
    margin: 0 auto 50px;
}

.edu_work h2 {
    text-align: center;
    margin: 50px auto;
}

button:hover {
    background-color: #000;
    color: #ffffff;
}

.pgt .lt .card-body a:hover {
    color: #000;
    text-decoration: none;
}

#profile_pic {
    width: 250px;
    height: 250px;
    margin: 35px auto;
    /* border-width: 0 6px 0 0;
    border-style: outset;
    border-color: #3e3636; */
    background-image: url(./../images/PSX_2.jpg);
    background-position: center;
    background-size: cover;
    /* border-radius: 50%; */
    /* box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.25); */
}

.lt .title,
.mid .title {
    margin: 0 15px;
    padding: 5px 0;
    width: 95%;
}

.mid .title {
    display: none;
}

.title h2 {
    margin: 25px 0 0;
}

.title .fas {
    font-size: 25px;
    /* color: #303841; */
    padding-top: 3px;
    color: #d72323aa;
    margin-right: 10px;
}

/* #univ,
#tech,
.skls,
.work {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 15px auto;
    padding: 15px 0 25px;
    width: 95%;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
} */

/* #tech h3,
#tech h5,
#univ h3,
#univ h5,
.work h3,
.work h5 {
    margin: 10px 15px 12px;
} */

/* #tech:hover,
#univ:hover {
    box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.25);
    transform: translate(1px, -1px);
} */

.work button {
    margin: 15px 20px 0;
}

.work button a {
    text-decoration: none;
    color: #ffffff;
    font-family: Nunito Bold;
}

.work ul {
    width: 80%;
    margin-top: 10px;
}

.work ul li {
    margin: 5px auto 10px;
}

.lt .ed,
.mid .ed {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ed .fas,
.ed .far,
.ed .fab {
    font-size: 12px;
    margin-right: 10px;
    padding-top: 7px;
    color: #d72323;
}

.ed p {
    margin: 5px 10px 10px;
}

.skls > div {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    gap: 80px calc(50% / 4);
}

.skls .icon_cont {
    height: 100px;
    margin: 0;
    padding: 20px 5px;
    /* border: 1px solid #303841; */
    border-radius: 20px;
}

.skls .icon_cont p {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
}

.brand {
    width: 100%;
    height: 73%;
    margin: auto;
    border-radius: 50%;
    transition: 0.1s;
}

svg {
    margin: auto;
    padding: 14px 14px;
}

.pgt .lt {
    width: 100%;
    height: 100%;
}

.pg_pic {
    width: 100%;
    height: 64%;
}

.pg_t {
    width: 100%;
    height: 35%;
}

#p1 {
    background-image: url(./../images/n2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#p2 {
    background-image: url(./../images/n3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#p3 {
    background-image: url(./../images/ed2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cont form > div {
    margin-left: 20px;
    padding: 10px 0;
}

.cont input,
.cont textarea {
    margin-top: 5px;
    width: 88%;
    border: 2px inset rgba(201, 199, 199, 0.304);
    border-radius: 10px;
    padding: 5px;
    outline: 0;
    font-size: 15px;
}

footer {
    width: 100%;
    text-align: right;
}

footer > p {
    margin: 0;
}

@media screen and (min-width: 370px) {
    .lt {
        width: 100%;
        /* height: 50vh; */
    }

    .mid {
        width: 100%;
        /* height: 35vh; */
    }

    #profile_pic {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 390px) {
    #profile_pic {
        width: 250px;
        height: 250px;
    }
}

@media screen and (max-width: 300px) {
    .lt {
        width: 100%;
        height: auto;
    }

    .mid {
        width: 100%;
        height: auto;
    }

    #profile_pic {
        width: 200px;
        height: 200px;
    }

    #n1 h1 {
        font-size: 20px;
    }

    #n1 p {
        font-size: 14px;
    }
}

@media screen and (min-width: 414px) {
    .lt {
        width: 100%;
        /* height: 53vh; */
    }

    .mid {
        width: 100%;
        height: unset;
    }

    #profile_pic {
        width: 280px;
        height: 280px;
    }
}

@media screen and (min-width: 520px) {
    .lt {
        width: 100%;
        height: auto;
    }

    .mid {
        width: 100%;
        height: auto;
    }

    #profile_pic {
        width: 250px;
        height: 250px;
    }

    .wk .work,
    .pgt .work {
        width: 95%;
        height: auto;
    }
}

@media screen and (min-width: 720px) {
    .lt {
        width: 80%;
        height: 50vh;
        margin: auto;
    }

    .mid {
        width: 100%;
        height: 30vh;
    }

    #profile_pic {
        width: 300px;
        height: 300px;
    }

    #n1 h1 {
        font-size: 37px;
    }

    #n1 p {
        font-size: 20px;
    }

    .pgt .work {
        height: auto;
    }
}

@media screen and (min-width: 760px) {
    .lt {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .mid {
        width: 100%;
        height: auto;
    }

    /* #univ,
    #tech,
    .skls,
    .work {
        margin: 15px;
    } */

    /* .pgt > div:first-child > div:nth-child(2) {
        flex-direction: row;
    } */
}

@media screen and (min-width: 800px) {
    .lt {
        width: 100%;
        margin: auto;
    }

    .mid {
        width: 100%;
    }

    #profile_pic {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 900px) {
    #profile_pic {
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 1000px) {
    html,
    body {
        height: 100vh;
        /* background-image: linear-gradient(to right, #d8d3d3, #ffffff); */
    }

    .hm {
        align-items: center;
    }

    .hm > .lt,
    .cont > .lt {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cont > .lt > div {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 25px;
    }

    .cont > .lt > div p {
        margin: 0 15px;
    }

    .mid .title {
        display: block;
        visibility: hidden;
    }

    #tp {
        padding-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .divider {
        width: 25%;
        height: 1px;
        margin: 55px auto;
        background-color: #303841;
    }

    #nav {
        display: block;
        margin: auto 0;
        color: #303841;
    }

    .nav_m {
        display: none;
    }

    #nav ul {
        width: auto;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #nav ul li {
        margin: 0 20px;
        padding: 2px;
        float: left;
        cursor: pointer;
        font-size: 1.05rem;
    }

    #nav ul li:hover {
        border-bottom: 3px solid #d72323;
    }

    .info {
        padding: 20px 0;
    }

    .abt .skls {
        padding: 0 0 40px;
    }

    .skls .icon_cont {
        grid-template-columns: 10% 10% 10% 10% 10%;
        gap: 40px calc(50% / 4);
        grid-template-rows: max-content;
    }

    .md {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /* #hm, */
    #wk,
    #pgt,
    /* #cont, */
    #abt {
        height: 80%;
    }

    .lt {
        width: 30%;
        height: 100%;
        margin: unset;
    }

    #n1 {
        width: 90%;
        margin: 13% 0 0 20px;
        text-align: unset;
    }

    #n1 h1 {
        font-size: 30px;
    }

    #n1 p {
        font-size: 18px;
        text-align: justify;
    }

    .mid {
        width: 50%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wk .lt,
    .pgt .lt,
    .pgt .mid,
    .wk .mid {
        width: calc(100% / 3);
    }

    #profile_pic {
        width: 300px;
        height: 300px;
        margin: 70px auto 20px;
    }

    .rt {
        width: 4%;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .rt div {
        margin: 35px auto;
    }

    footer p {
        padding: 0;
        margin: 10px 0 0;
        font-family: Nunito Regular;
        font-size: 10px;
    }

    .abt .lt .info,
    .abt_info_lt > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .abt_info_lt {
        width: 65%;
        padding: 5px;
    }

    .abt_info_rt {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .abt_info_rt > div > div:first-child p {
        font-size: 30px;
        position: relative;
        margin: 0;
    }

    .abt_info_rt > div > div:first-child p::after {
        content: "+";
        position: absolute;
        top: -2px;
        font-size: 25px;
    }

    .abt_info_rt > div > div:last-child p {
        font-size: 18px;
        position: relative;
        padding-left: 40px;
        margin: 0;
    }

    .abt_info_rt > div > div:last-child p:first-child::before {
        content: "";
        width: 25px;
        height: 1px;
        background-color: #303841;
        position: absolute;
        top: 12px;
        left: 0;
    }

    .abt_info_rt > div {
        border: 1px solid #303841;
        width: 80%;
        padding: 15px 25px;
    }

    .edu_work > div,
    .edu_work > div ul.w_exp > li,
    .edu_work > div ul.edu > li {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        /* border: 1px solid; */
    }

    .edu_work > div ul.w_exp > li,
    .edu_work > div ul.edu > li {
        margin-bottom: 15px;
    }

    .edu_work > div ul.w_exp,
    .edu_work > div ul.edu {
        width: 43%;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .edu_work > div ul.w_exp li > div:first-child,
    .edu_work > div ul.edu li > div:first-child {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: 10px;
        position: relative;
        border: 1px solid #303841;
        border-radius: 50%;
    }

    .edu_work > div ul.w_exp li .fas,
    .edu_work > div ul.edu li .fas {
        font-size: 20px;
    }

    .edu_work > div ul.w_exp li > div:first-child::after,
    .edu_work > div ul.edu li > div:first-child::after {
        content: "";
        background-color: #303841;
        height: 1px;
        width: 60px;
        position: absolute;
        bottom: -40px;
        transform: rotate(90deg);
    }

    .edu_work > div ul.w_exp > li > div:last-child,
    .edu_work > div ul.edu > li > div:last-child {
        width: 85%;
        padding: 10px 0;
        /* border: 1px solid; */
    }

    .edu_work > div ul.w_exp > li > div:last-child p,
    .edu_work > div ul.edu > li > div:last-child p {
        width: 25%;
        text-align: center;
        background-color: #303841;
        color: #ffffff;
        border-radius: 20px;
        padding: 5px;
        font-size: 12px;
    }

    .edu_work > div ul.w_exp > li div:last-child ul li,
    .edu_work > div ul.edu > li div:last-child ul li {
        font-size: 13px;
        text-align: justify;
    }

    .wk .work,
    .pgt .work {
        width: 90%;
    }

    .wk .mid > div:first-child {
        display: block;
    }

    .lt .title,
    .mid .title {
        margin: 0 20px;
        width: 100%;
    }

    .abt .lt,
    .pgt .lt {
        width: 90%;
        overflow-y: scroll;
        /* border: 1px solid; */
    }

    .pg_pic {
        height: 65%;
    }

    #dn {
        height: 5%;
        font-size: 16px;
    }

    .pgt .work {
        min-height: 250px;
    }

    .pgt .lt {
        display: grid;
        grid-template-columns: 24% 24% 24% 24%;
        gap: 20px calc(4% / 3);
        grid-template-rows: max-content;
    }

    .pgt .lt .card {
        max-height: max-content;
    }

    .pgt .lt .card-text {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .lt .title,
    .mid .title {
        margin: 0;
        width: 100%;
    }

    #profile_pic {
        margin: 15px auto 30px;
    }

    #logo {
        font-size: 2.3rem;
        font-weight: 600;
        margin: auto 0;
    }

    #profile_pic {
        width: calc(720px / 2);
        height: calc(960px / 2.5);
    }

    #n1 {
        margin: 0;
        text-align: unset;
        /* font-family: Nunito italic; */
    }

    .wk .work,
    .pgt .work {
        width: 95%;
    }
}

.closed {
    display: none;
}
