html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 1px;
}

div::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background: #adc0cf;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background: #e3ebf6;
}

.fab {
    font-size: 32px;
    color: #303841 !important;
    cursor: pointer;
}

.fas {
    font-size: 1.35rem;
    color: #303841 !important;
    cursor: pointer;
}

@font-face {
    font-family: MoxillaText Regular;
    src: url(./../Mozilla_Text/static/MozillaText-Regular.ttf);
}

@font-face {
    font-family: MoxillaText Bold;
    src: url(./../Mozilla_Text/static/MozillaText-Bold.ttf);
    font-weight: bold;
}

iconify-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.divider {
    width: 25%;
    height: 1px;
    margin: 5.3rem auto;
    background-color: #303841 !important;
}

#ext {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 88vh;
    transition: 0.2s;
}

.popover-header {
    background-color: red !important;
}

#tp {
    width: 100%;
    height: 10%;
    padding: 5% 0;
    color: #303841 !important;
}

.abt_info_rt {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.abt_info_rt > div > div:first-child p {
    font-size: 1.56rem;
    position: relative;
    margin: 0;
}

.abt_info_rt > div > div:first-child p::after {
    content: "+";
    position: absolute;
    top: -2px;
    font-size: 1.56rem;
}

.abt_info_rt > div > div:last-child p {
    font-size: 0.9rem;
    position: relative;
    padding-left: 40px;
    margin: 0;
}

.abt_info_rt > div > div:last-child p:first-child::before {
    content: "";
    width: 1.56rem;
    height: 1px;
    background-color: #303841 !important;
    position: absolute;
    top: 0.8rem;
    left: 0;
}

.abt_info_rt > div {
    border: 1px solid #303841 !important;
    width: 48%;
    padding: 0.6rem.9rem;
}

.abt_info_lt span {
    font-weight: bold;
}

.edu_work > div,
.edu_work > div ul.w_exp > li,
.edu_work > div ul.edu > li {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.edu_work > div {
    flex-direction: column-reverse;
}

.edu_work > div ul.w_exp > li,
.edu_work > div ul.edu > li {
    margin-bottom: 0.9rem;
}

.edu_work > div ul.w_exp,
.edu_work > div ul.edu {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.edu_work > div ul.w_exp li > div:first-child,
.edu_work > div ul.edu li > div:first-child {
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    margin-top: 0.6rem;
    position: relative;
    border: 1px solid #303841 !important;
    border-radius: 50%;
}

.edu_work > div ul.w_exp li .fas,
.edu_work > div ul.edu li .fas {
    font-size: 1.3rem;
}

.edu_work > div ul.w_exp li > div:first-child::after,
.edu_work > div ul.edu li > div:first-child::after {
    content: "";
    background-color: #303841 !important;
    height: 1px;
    width: 3.8rem;
    position: absolute;
    bottom: -40px;
    transform: rotate(90deg);
}

.edu_work > div ul.w_exp > li > div:last-child,
.edu_work > div ul.edu > li > div:last-child {
    width: 80%;
    padding: 0.6rem 0;
}

.edu_work > div ul.w_exp > li > div:last-child p,
.edu_work > div ul.edu > li > div:last-child p {
    width: 35%;
    text-align: center;
    background-color: #303841 !important;
    color: #ffffff;
    border-radius: 1.3rem;
    padding: 0.3rem;
    font-size: 0.6rem;
}

.edu_work > div ul.w_exp > li > div:last-child h6,
.edu_work > div ul.edu > li > div:last-child h6 {
    font-size: 0.8rem;
}

.edu_work > div ul.w_exp > li > div:last-child ul,
.edu_work > div ul.edu > li > div:last-child ul {
    padding-right: 0.5rem;
}

.edu_work > div ul.w_exp > li div:last-child ul li,
.edu_work > div ul.edu > li div:last-child ul li {
    font-size: 0.8rem;
    text-align: justify;
}

.md {
    width: 100%;
    min-height: 50%;
    display: flex;
    justify-content: space-between;
}

.hm {
    flex-direction: column;
}

.abt,
.pgt,
.cont {
    flex-direction: column;
}

#dn {
    height: 2%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 0.6rem;
}

.lt {
    width: 100%;
    height: 100%;
    font-family: MoxillaText Regular;
    color: #303841 !important;
}

.mid {
    width: 100%;
    height: 50%;
    font-family: MoxillaText Regular;
    color: #303841 !important;
}

.msgs {
    width: 65%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.rt {
    display: none;
}

#logo {
    margin-left: 0.9rem;
    font-family: MoxillaText bold;
    font-size: 1.5rem;
}

#nav {
    display: none;
}

.nav_m {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0.3rem 0;
    background-color: #fff;
    transition: 1s;
}

.nav_m ul {
    width: auto;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_m ul li {
    padding: 0.3rem 0;
    margin: 0;
    width: calc(100% / 5);
    text-align: center;
    float: left;
    cursor: pointer;
}

.nav_m .fas,
.nav_m .fab {
    color: #303841 !important;
    font-size: 1.56rem;
}

.out {
    bottom: -13rem;
}

.pgt .lt {
    display: grid;
    grid-template-columns: 100%;
    gap: 1.3rem 0;
    grid-template-rows: max-content;
}

.pgt .lt .card {
    max-height: max-content;
}

.pgt .lt .card-text {
    font-size: 0.88rem;
}

.cont > .lt > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 0;
}

.cont > .lt > div p {
    margin: 0.9rem;
}

#n1 {
    width: 80%;
    margin: 5% auto 0;
    text-align: center;
}

#n1 h1 {
    font-size: 1.56rem;
}

#n1 p {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 0.6rem;
}

.btn {
    padding: 6px 1.3rem;
    border: 2px outset #303841 !important;
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.25);
    border-radius: 0.3rem;
    color: #ffffff;
    background-color: #303841 !important;
    outline: 0;
    font-family: MoxillaText Bold;
}

.pgt .lt .card-body a {
    color: #303841 !important;
}

.skls h2 {
    text-align: center;
    margin: 0 auto 3rem;
}

.edu_work h2 {
    text-align: center;
    margin: 3rem auto;
}

.btn:hover {
    background-color: #000;
    color: #ffffff;
}

.pgt .lt .card-body a:hover {
    color: #000;
    text-decoration: none;
}

#profile_pic {
    width: 15rem;
    height: 15rem;
    margin: 3.3rem auto;
    background-image: url(./../images/PSX_2.webp);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 15px 0px;
}

.lt .title,
.mid .title {
    margin: 0.9rem;
    padding: 0.3rem 0;
    width: 95%;
}

.mid .title {
    display: none;
}

.title h2 {
    margin: 1.56rem 0 0;
}

.title .fas {
    font-size: 1.56rem;
    /* color: #303841 !important; */
    padding-top: 3px;
    color: #d72323aa;
    margin-right: 0.6rem;
}

/* #hm, */
#wk,
#pgt,
#cont,
#abt {
    height: 100%;
    margin: 3rem auto 4rem;
}

.work button a {
    text-decoration: none;
    color: #ffffff;
    font-family: MoxillaText Bold;
}

.work ul {
    width: 80%;
    margin-top: 0.6rem;
}

.work ul li {
    margin: 0.3rem auto 0.6rem;
}

.lt .ed,
.mid .ed {
    margin: 0 1.3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ed .fas,
.ed .far,
.ed .fab {
    font-size: 0.8rem;
    margin-right: 0.6rem;
    padding-top: 7px;
    color: #d72323;
}

.ed p {
    margin: 0.3rem 0.6rem 0.6rem;
}

.skls > div {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    gap: 1.3rem calc(25% / 2);
}

.skls .icon_cont {
    height: 95px;
    margin: 0;
    padding: 1.3rem 0.3rem;
    /* border: 1px solid #303841 !important; */
    border-radius: 1.3rem;
}

.skls .icon_cont p {
    font-size: 0.9rem;
    text-align: center;
    margin: 0.6rem 0;
}

.brand {
    width: 100%;
    height: 73%;
    margin: auto;
    border-radius: 50%;
    transition: 0.1s;
}

.pgt .lt,
.blg .lt {
    width: 100%;
    height: 100%;
}

.pg_pic {
    width: 100%;
    height: 64%;
}

.pg_t {
    width: 100%;
    height: 35%;
}

#p1 {
    background-image: url(./../images/n2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#p2 {
    background-image: url(./../images/n3.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#p3 {
    background-image: url(./../images/ed2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cont form > div {
    /* margin-left: 1.3rem; */
    padding: 0.6rem 0;
}

.cont input,
.cont textarea {
    margin-top: 0.3rem;
    width: 100%;
    border: 2px inset rgba(201, 199, 199, 0.304);
    border-radius: 0.6rem;
    padding: 0.3rem;
    outline: 0;
    font-size: 0.9rem;
}

footer {
    width: 100%;
    text-align: right;
}

footer > p {
    margin: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .lt {
        width: 100%;
        /* height: 50vh; */
    }

    .mid {
        width: 100%;
        /* height: 35vh; */
    }

    #profile_pic {
        width: 200px;
        height: 200px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #ext {
        height: auto;
    }

    .lt {
        width: 100%;
        margin: auto;
        height: auto;
    }

    .hm .lt {
        width: 70%;
    }

    #n1 h1 {
        font-size: 37px;
    }

    #n1 p {
        font-size: 1.3rem;
    }

    .msgs {
        width: 45%;
    }

    .mid {
        width: 100%;
        height: auto;
    }

    #profile_pic {
        width: 25rem;
        height: 25rem;
    }

    .edu_work > div ul.w_exp > li > div:last-child,
    .edu_work > div ul.edu > li > div:last-child {
        width: 90%;
    }

    .skls > div {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        gap: 1.3rem calc(20% / 3);
    }

    .pgt .lt {
        display: grid;
        grid-template-columns: 48.5% 48.5%;
        gap: 1.3rem 3%;
        grid-template-rows: max-content;
    }

    .edu_work > div ul.w_exp > li > div:last-child p,
    .edu_work > div ul.edu > li > div:last-child p {
        width: 15%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hm {
        align-items: center;
    }

    .hm > .lt,
    .cont > .lt {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .mid .title {
        display: block;
        visibility: hidden;
    }

    #tp {
        padding-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav {
        display: block;
        margin: auto 0;
        color: #303841 !important;
    }

    .nav_m {
        display: none;
    }

    #nav ul {
        width: auto;
        height: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    #nav ul li {
        margin: 0 1.3rem;
        padding: 2px;
        float: left;
        cursor: pointer;
        font-size: 1.05rem;
    }

    #nav ul li:hover {
        border-bottom: 3px solid #d72323;
    }

    .info {
        padding: 1.3rem 0;
    }

    .abt .skls {
        padding: 0 0 40px;
    }

    .skls > div {
        grid-template-columns: 10% 10% 10% 10% 10%;
        gap: 4.5rem calc(50% / 4);
        grid-template-rows: max-content;
    }

    .md {
        flex-direction: row;
    }

    #wk,
    #pgt,
    #abt {
        height: 80%;
        margin: auto;
        margin: 3rem auto;
    }

    #cont {
        height: unset;
        margin: auto;
    }

    .hm .lt,
    .lt {
        width: 30%;
        height: 100%;
        margin: unset;
    }

    .hm .lt > h2,
    #n1 h1 {
        font-size: 25px;
    }

    .hm .lt > h4 {
        font-size: 20px;
    }

    .hm .lt > p {
        font-size: 1rem !important;
    }

    .msgs {
        width: 65%;
    }

    #n1 {
        width: 90%;
        margin: 13% 0 0 1.3rem;
        text-align: unset;
    }

    #n1 p {
        font-size: 0.9rem;
        text-align: justify;
    }

    .mid {
        width: 50%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .abt_info_rt > div > div:first-child p::after {
        font-size: 1rem;
        top: -5px;
    }

    #profile_pic {
        width: 15rem;
        height: 15rem;
        margin: 1.3rem auto;
    }

    .rt {
        width: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .rt div {
        margin: 1.5rem auto;
    }

    footer p {
        padding: 0;
        margin: 0.6rem 0 0;
        font-family: MoxillaText Regular;
        font-size: 0.6rem;
    }

    .abt .lt .info,
    .abt_info_lt > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .abt_info_lt {
        width: 75%;
        padding: 0.3rem;
    }

    .abt_info_rt {
        width: 25%;
        flex-direction: column;
    }

    .abt_info_rt > div > div:first-child p {
        font-size: 1rem;
    }

    .abt_info_rt > div > div:last-child p {
        font-size: 0.8rem;
    }

    .abt_info_rt > div {
        width: 80%;
        padding: 0.9rem 1.56rem;
    }

    .edu_work > div,
    .edu_work > div ul.w_exp > li,
    .edu_work > div ul.edu > li {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .edu_work > div {
        flex-direction: row;
    }

    .edu_work > div ul.w_exp > li,
    .edu_work > div ul.edu > li {
        margin-bottom: 0.9rem;
    }

    .edu_work > div ul.w_exp,
    .edu_work > div ul.edu {
        width: 43%;
    }

    .edu_work > div ul.w_exp li > div:first-child,
    .edu_work > div ul.edu li > div:first-child {
        width: 3rem;
        height: 3rem;
    }

    .edu_work > div ul.w_exp li .fas,
    .edu_work > div ul.edu li .fas {
        font-size: 1.3rem;
    }

    .edu_work > div ul.w_exp > li > div:last-child,
    .edu_work > div ul.edu > li > div:last-child {
        width: 82%;
    }

    .edu_work > div ul.w_exp > li > div:last-child p,
    .edu_work > div ul.edu > li > div:last-child p {
        width: 30%;
    }

    .edu_work > div ul.w_exp > li > div:last-child ul,
    .edu_work > div ul.edu > li > div:last-child ul {
        padding-right: 0;
    }

    .lt .title,
    .mid .title {
        margin: 0 1.3rem;
        width: 100%;
    }

    .abt .lt,
    .pgt .lt,
    .blg .lt {
        width: 90%;
        overflow-y: scroll;
    }

    .pg_pic {
        height: 65%;
    }

    #dn {
        height: 5%;
        font-size: 1rem;
    }

    .pgt .lt {
        grid-template-columns: 32% 32% 32%;
        gap: 1.3rem calc(4% / 2);
    }

    .cont .lt h1 {
        font-size: 1.56rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .fas {
        font-size: 1.5rem;
    }

    .lt .title,
    .mid .title {
        margin: 0;
        width: 100%;
    }

    #profile_pic {
        margin: 0.9rem auto 2rem;
    }

    #logo {
        font-size: 2.3rem;
        font-weight: 600;
        margin: auto 0;
    }

    .skls .icon_cont {
        height: 100px;
    }

    .msgs {
        width: 45%;
    }

    .hm .lt {
        width: 35%;
    }

    #profile_pic {
        width: calc(720px / 2);
        height: calc(960px / 2.5);
    }

    #n1 {
        margin: 0;
        text-align: unset;
    }

    .rt div {
        margin: 2.3rem auto;
    }

    #n1 h1 {
        font-size: 2rem;
    }

    #n1 p {
        font-size: 1.15rem;
        text-align: justify;
    }

    .abt_info_lt {
        width: 65%;
    }

    .abt_info_rt {
        width: 30%;
    }

    .abt_info_rt > div > div:first-child p {
        font-size: 1.5rem;
    }

    .abt_info_rt > div > div:last-child p {
        font-size: 1rem;
    }

    .edu_work > div ul.w_exp > li > div:last-child h6,
    .edu_work > div ul.edu > li > div:last-child h6 {
        font-size: 1rem;
    }

    .edu_work > div ul.w_exp > li > div:last-child,
    .edu_work > div ul.edu > li > div:last-child {
        width: 85%;
    }

    .edu_work > div ul.w_exp > li > div:last-child p,
    .edu_work > div ul.edu > li > div:last-child p {
        width: 25%;
    }

    .abt_info_rt > div > div:first-child p::after {
        top: -6px;
        font-size: 1.56rem;
    }

    .pgt .lt {
        grid-template-columns: 24% 24% 24% 24%;
        gap: 1.3rem calc(4% / 3);
    }

    .cont .lt h1 {
        font-size: 2rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    /*  */
}

.closed {
    display: none;
}
