@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Parkinsans:wght@300..800&display=swap");

/* * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

.blg {
    align-items: center;
}

.blg .lt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-check-input:checked {
    color: #000000;
    background-color: #000000;
}

input:focus,
select:focus {
    outline: 0 !important;
    offset: none !important;
    box-shadow: none !important;
    border: 1px solid #e0e3eb !important;
}

/* .cont {
    display: flex;
    justify-content: space-between;
} */

.box_1 {
    width: 60%;
    height: auto;
}

.box_1 > div h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    font-family: "Parkinsans", serif;
}

.box_1 > div:not(div.logo) {
    height: 70%;
    width: 80%;
    margin-bottom: 10px;
}

.box_1 > div p,
li {
    font-size: 18px;
}

.box_1 > div p:first-child {
    font-size: 23px;
}

.box_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
    z-index: 1000;
}

.tictactoe {
    width: 400px;
    height: max-content;
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-template-rows: 145px 145px 145px;
    gap: 3px;
}

.player {
    border: 1px solid #e8e9eb;
    font-size: 95px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
}

.btn-grad {
    background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
}

.btn-grad {
    /* margin: 10px; */
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.s_player {
    font-size: 23px;
    margin: 6px 0;
}

.turns {
    padding-top: 25px;
}

.turns h1 {
    font-size: 4.5rem;
    text-align: center;
}

.hide {
    display: none;
}

.disable {
    pointer-events: none;
}

.btn-outline-secondary:hover {
    background-color: #000000;
    border-color: #000000;
}

.popover {
    background-color: transparent;
}

.popover-header {
    background-color: #800000;
    color: #fff;
}

.popover-body {
    color: #000000;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /*  */
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /*  */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .tictactoe {
        grid-template-columns: 95px 95px 95px;
        grid-template-rows: 105px 105px 105px;
    }

    .player {
        font-size: 70px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .tictactoe {
        grid-template-columns: 115px 115px 115px;
        grid-template-rows: 130px 130px 130px;
    }

    .player {
        font-size: 85px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .tictactoe {
        grid-template-columns: 130px 130px 130px;
        grid-template-rows: 145px 145px 145px;
    }

    .player {
        font-size: 95px;
    }
}
