<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="”robots”" content="”noindex, nofollow”" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="apple-mobile-web-app-title" content="Kennedy C." />
        <link rel="apple-touch-icon" sizes="180x180" href="./../static/favicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="./../static/favicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="./../static/favicon_io/favicon-16x16.png" />
        <link rel="manifest" href="./../static/favicon_io/site.webmanifest" crossorigin="use-credentials" />
        <link rel="stylesheet" href="./../static/css/bootstrap.css" />
        <link rel="stylesheet" href="./../static/css/all.min.css" />
        <link rel="stylesheet" href="./../static/css/tictactoe.css" />
        <link rel="stylesheet" href="./../static/css/app.css" />
        <title>Kennedy Chidiebere O.</title>
    </head>
    <body>
        <!-- ========== Full Cover ========== -->
        <div id="ext" class="container">
            <!-- Homepage -->
            <!-- ============================================================================= -->
            <div class="md hm {{"" if current_tab == "Home" else "closed"}}" id="hm">
                <div class="lt text-center mb-5 mb-md-0">
                    <div id="profile_pic"></div>
                    <h2 class="text-center fw-bold mb-2">Kennedy C. Ogbonna</h2>
                    <h4 class="text-center fw-semibold mb-3">(He/Him)</h4>
                    <p class="text-center fs-5 mb-2 mb-md-4">Full-Stack Developer</p>
                    <p class="text-center fs-6 mb-4 mx-auto d-lg-none" style="width: 80%">Let’s create something exceptional together—get in touch to discuss your next big idea!</p>
                    <div class="msgs">
                        <div>
                            <i class="fab fa-github-square"></i>
                        </div>
                        <div>
                            <i class="fab fa-linkedin"></i>
                        </div>
                        <div>
                            <i class="fab fa-facebook-square"></i>
                        </div>
                        <div>
                            <i class="fab fa-twitter-square"></i>
                        </div>
                        <div>
                            <i class="fab fa-whatsapp-square"></i>
                        </div>
                    </div>
                </div>
                <div class="mid d-none d-lg-block">
                    <div id="n1">
                        <h1 class="fw-bold mb-2 text-capitalize">Hello .....</h1>
                        <p>My journey as a Full-Stack Developer has been an exciting one, each project is like a new adventure where I get to dive deep into technologies like JavaScript and React for the frontend while harnessing the power of Node.js on the backend. Building engaging solutions is not just my job, it’s my passion.</p>
                        <p>If you’re looking for someone who can bring creativity and technical expertise to your next project or team, feel free to reach out! Let’s connect over email, I’d love to discuss how we can collaborate on innovative solutions together.</p>
                        <div class="d-flex justify-content-between mt-4">
                            <button type="button" class="btn" id="refer">Send A Message</button>
                        </div>
                    </div>
                </div>
                <div class="rt">
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Home">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="About">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Projects">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Contact">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Game">
                        <i class="fas fa-puzzle-piece"></i>
                    </div>
                </div>
            </div>

            <!-- About Page -->
            <div class="md abt {{"" if current_tab == "About" else "closed"}}" id="abt">
                <div class="lt">
                    <!-- Details -->
                    <div class="info">
                        <!-- Left -->
                        <div class="abt_info_lt mb-4 mb-md-0">
                            <!-- Personal Information -->
                            <h3 class="fw-bold mb-4">Personal Information:</h3>
                            <div>
                                <div>
                                    <p class="mb-4">First Name: <span>Kennedy</span></p>
                                    <p class="mb-4">Last Name: <span>Ogbonna</span></p>
                                    <p class="mb-4">Age: <span>31 years</span></p>
                                    <p class="mb-4">Nationality: <span>Nigerian</span></p>
                                    <p class="mb-4">Country of Residence: <span>United Kingdom</span></p>
                                </div>
                                <div>
                                    <p class="mb-4">Phone: <span>+44 7831630144</span></p>
                                    <p class="mb-4">Email: <span>Kennedychidi55@gmail.com</span></p>
                                    <p class="mb-4">LinkedIn: <span>linkedin.com/in/kennedychidi</span></p>
                                    <p class="mb-4">Languages: <span>English, Igbo</span></p>
                                    <p class="mb-4">Availability: <span>Freelance, Contract, Part-time, Full-time.</span></p>
                                </div>
                            </div>
                            <div class="d-none d-lg-flex justify-content-between mt-3">
                                <a href="./../static/file/resume.pdf" download="Resume">
                                    <button>Download Resume</button>
                                </a>
                            </div>
                        </div>
                        <!-- Right -->
                        <div class="abt_info_rt">
                            <div>
                                <div>
                                    <p class="fw-bold">5</p>
                                </div>
                                <div>
                                    <p>Years Of <span class="d-block">Experience</span></p>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="fw-bold">20</p>
                                </div>
                                <div>
                                    <p>Completed <span class="d-block">Projects</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="d-none justify-content-between mt-4">
                            <a href="./../static/file/resume.pdf" download="Resume">
                                <button>Download Resume</button>
                            </a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <!-- Skills -->
                    <div class="skls">
                        <h2 class="fw-bold">Skills</h2>
                        <div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:language-html5" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>HTML 5</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:language-css3" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>CSS 3</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="fluent:javascript-24-regular" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>JavaScript</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:react" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>React JS</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="cib:redux" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Redux</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:nodejs" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Node JS</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:language-python" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Python</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="simple-icons:selenium" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Selenium</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:github" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Git</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="devicon:flask" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Flask</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:language-cpp" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>C++</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="flowbite:mongo-db-solid" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>MongoDB</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:docker" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Docker</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:kubernetes" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>kubernetes</p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <!-- Education & Work Experience -->
                    <div class="edu_work">
                        <h2 class="fw-bold">Experience, Education & Certifications</h2>
                        <div>
                            <!-- Experience -->
                            <ul class="w_exp">
                                <li>
                                    <div>
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <div>
                                        <p>2023 - Present</p>
                                        <h6 class="text-uppercase fw-bold">Freelance<span class="fw-normal text-capitalize"> - Seeking New Opportunities.</span></h6>
                                        <ul>
                                            <li>Experienced Full-Stack Developer specializing in JavaScript, React, and Python. Open to freelance projects, full-time roles, or contract opportunities where I can apply my skills in building scalable web applications.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <div>
                                        <p>2022 - 2023</p>
                                        <h6 class="text-uppercase fw-bold">Web Developer<span class="fw-normal text-capitalize"> - Makkie Stores.</span></h6>
                                        <ul>
                                            <li>Developed responsive web applications with React.js and Node.js, improving user engagement by 30% and enhancing functionality through seamless API integrations and optimized performance.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <i class="fas fa-briefcase"></i>
                                    </div>
                                    <div>
                                        <p>2021 - 2022</p>
                                        <h6 class="text-uppercase fw-bold">Web Developer<span class="fw-normal text-capitalize"> - MEDSOPH Health Solutions.</span></h6>
                                        <ul>
                                            <li>Led the development of an online healthcare platform using HTML5, CSS, JavaScript, React + Redux, Node.js, and MongoDB, enhancing service delivery for over 1,000 clients and reducing data retrieval time by 40%.</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <!-- Education -->
                            <ul class="edu">
                                <li>
                                    <div>
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div>
                                        <p>2012 - 2022</p>
                                        <h6 class="text-uppercase fw-bold">Bachelor of Medicine, Bachelor of Surgery [M.B.B.S]<span class="fw-normal text-capitalize"> - Imo State University.</span></h6>
                                        <ul>
                                            <li>A dedicated and compassionate medical graduate with comprehensive training in clinical rotations across diverse specialties, including Obstetrics, Pediatrics, Surgery, and Internal Medicine.</li>
                                            <li>Skilled in patient assessment, diagnosis, and management, with hands-on experience in assisting surgical procedures and developing personalized care plans.</li>
                                            <li>Adept at collaborating with multidisciplinary teams to ensure optimal patient outcomes.</li>
                                            <li>Committed to continuous learning and contributing to the delivery of exceptional healthcare services.</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div>
                                        <p>2003 - 2009</p>
                                        <h6 class="text-uppercase fw-bold">SSCE<span class="fw-normal text-capitalize"> - SPASS</span></h6>
                                        <ul>
                                            <li>Maths (C)</li>
                                            <li>English (C)</li>
                                            <li>7 additional SSCEs grade C and above.</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rt">
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Home">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="About">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Projects">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Contact">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Game">
                        <i class="fas fa-puzzle-piece"></i>
                    </div>
                </div>
            </div>

            <!-- Project Page -->
            <div class="md pgt {{"" if current_tab == "Projects" else "closed"}}" id="pgt">
                <div class="lt">
                    <div class="card">
                        <img src="./../static/images/portfolio.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Portfolio Website</h5>
                            <p class="card-text">A responsive portfolio showcasing skills, projects, and achievements with intuitive design and seamless navigation.</p>
                        </div>
                        <div class="card-body pt-0 justify-content-end">
                            <a href="#" class="card-link">Demo</a>
                            <a href="#" class="card-link">Git Repo</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./../static/images/portfolio.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Portfolio Website</h5>
                            <p class="card-text">A responsive portfolio showcasing skills, projects, and achievements with intuitive design and seamless navigation.</p>
                        </div>
                        <div class="card-body pt-0 justify-content-end">
                            <a href="#" class="card-link">Demo</a>
                            <a href="#" class="card-link">Git Repo</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./../static/images/portfolio.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Portfolio Website</h5>
                            <p class="card-text">A responsive portfolio showcasing skills, projects, and achievements with intuitive design and seamless navigation.</p>
                        </div>
                        <div class="card-body pt-0 justify-content-end">
                            <a href="#" class="card-link">Demo</a>
                            <a href="#" class="card-link">Git Repo</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./../static/images/portfolio.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Portfolio Website</h5>
                            <p class="card-text">A responsive portfolio showcasing skills, projects, and achievements with intuitive design and seamless navigation.</p>
                        </div>
                        <div class="card-body pt-0 justify-content-end">
                            <a href="#" class="card-link">Demo</a>
                            <a href="#" class="card-link">Git Repo</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./../static/images/portfolio.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Portfolio Website</h5>
                            <p class="card-text">A responsive portfolio showcasing skills, projects, and achievements with intuitive design and seamless navigation.</p>
                        </div>
                        <div class="card-body pt-0 justify-content-end">
                            <a href="#" class="card-link">Demo</a>
                            <a href="#" class="card-link">Git Repo</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./../static/images/portfolio.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Portfolio Website</h5>
                            <p class="card-text">A responsive portfolio showcasing skills, projects, and achievements with intuitive design and seamless navigation.</p>
                        </div>
                        <div class="card-body pt-0 justify-content-end">
                            <a href="#" class="card-link">Demo</a>
                            <a href="#" class="card-link">Git Repo</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./../static/images/portfolio.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Portfolio Website</h5>
                            <p class="card-text">A responsive portfolio showcasing skills, projects, and achievements with intuitive design and seamless navigation.</p>
                        </div>
                        <div class="card-body pt-0 justify-content-end">
                            <a href="#" class="card-link">Demo</a>
                            <a href="#" class="card-link">Git Repo</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./../static/images/portfolio.jpeg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Portfolio Website</h5>
                            <p class="card-text">A responsive portfolio showcasing skills, projects, and achievements with intuitive design and seamless navigation.</p>
                        </div>
                        <div class="card-body pt-0 justify-content-end">
                            <a href="#" class="card-link">Demo</a>
                            <a href="#" class="card-link">Git Repo</a>
                        </div>
                    </div>
                </div>
                <div class="rt">
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Home">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="About">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Projects">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Contact">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Game">
                        <i class="fas fa-puzzle-piece"></i>
                    </div>
                </div>
            </div>

            <!-- Contact Page -->
            <div class="md cont {{"" if current_tab == "Contact" else "closed"}}" id="cont">
                <div class="lt">
                    <h1 class="fw-bold text-uppercase">Get In Touch ...</h1>
                    <p class="mb-2">Feel free to get in touch! I am always eager to discuss new projects, share creative ideas, and explore opportunities to contribute meaningfully to your vision.</p>
                    <div>
                        <i class="fas fa-phone-square"></i>
                        <p>+44 783 163 0144</p>
                    </div>
                    <div>
                        <i class="fas fa-envelope"></i>
                        <p>Kennedychidi55@gmail.com</p>
                    </div>
                    <div>
                        <i class="fas fa-map-marker"></i>
                        <p>England, United Kingdom</p>
                    </div>
                </div>
                <div class="mid">
                    <div class="work mt-4 mt-lg-0">
                        <form action="https://formsubmit.co/5c55b558ad364cab6976e74ff6ce06da" method="post">
                            <div>
                                <label for="name" style="margin-left: 5px">Name:</label> <br />
                                <input type="text" name="name" id="nm" placeholder="Billy Simon" required />
                            </div>
                            <div>
                                <label for="Email" style="margin-left: 5px">Email:</label> <br />
                                <input type="email" name="Email" id="em" placeholder="someone@email.com" required />
                            </div>
                            <div>
                                <label for="Subject" style="margin-left: 5px">Subject:</label> <br />
                                <input type="text" name="Subject" id="sj" placeholder="Hello" required />
                            </div>
                            <div>
                                <label for="Message" style="margin-left: 5px">Message:</label> <br />
                                <textarea name="Message" id="msg" cols="100" rows="5" required>Message ........</textarea>
                            </div>
                            <input type="hidden" name="_captcha" value="false" />
                            <button type="submit" class="btn">Send Message</button>
                        </form>
                    </div>
                </div>
                <div class="rt">
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Home">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="About">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Projects">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Contact">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Game">
                        <i class="fas fa-puzzle-piece"></i>
                    </div>
                </div>
            </div>

            <!-- Game Page -->
            <div class="md blg {{"" if current_tab == "Game" else "closed"}}" id="game">
                <div class="lt d-block d-lg-none">
                    <h1 class="fw-bold text-uppercase">Tictactoe</h1>
                    <p class="mb-2">Sorry, this page is not available on mobile.</p>
                    <p class="mb-2">Please visit page on a Tablet, Laptop or Desktop.</p>
                    <p class="mb-2">Thank you!</p>
                </div>
                <div class="lt d-none d-lg-flex">
                        <div class="box_1">
                            <div>
                                <h2>Tictactoe</h2>
                                <p>The timeless game of strategy, fun, and quick thinking.</p>
                                <p>Challenge a friend or take on the computer - every move counts!</p>
                                <p>Are you ready to claim victory?</p>
                                <button type="button" class="btn btn-secondary to_mode btn-grad px-4 py-2 my-4">Play Now!</button>
                            </div>
                            <div class="hide">
                                <h2 class="mb-4">Game Mode:</h2>
                                <div class="form-check s_player">
                                    <input class="form-check-input" id="one_player" type="checkbox" value="1" />
                                    <label class="form-check-label" for="one_player"> 1 player </label>
                                </div>
                                <div class="form-check s_player">
                                    <input class="form-check-input" id="two_players" type="checkbox" value="2" />
                                    <label class="form-check-label" for="two_players"> 2 players </label>
                                </div>
                                <div class="d-flex justify-content-center" style="margin-top: 150px">
                                    <button type="button" class="btn btn-sm  exit_game" data-index="1">Cancel</button>
                                    <button type="button" class="btn btn-sm next  ms-3" data-bs-toggle="popover" data-bs-title="Instructions:" data-bs-placement="top" data-bs-content="Please, select player mode to continue.">Continue</button>
                                </div>
                            </div>
                            <div class="hide">
                                <h2>How to Play:</h2>
                                <ul style="width: 60%">
                                    <li class="my-2">Players take turns placing their symbol in an empty cell.</li>
                                    <li class="my-2">First player to create a line of 3 (horizontal, vertical, or diagonal) wins!</li>
                                    <li class="my-2">If the grid fills up without a winner, it’s a tie.</li>
                                </ul>
                                <div class="d-flex justify-content-center" style="margin-top: 100px">
                                    <button type="button" class="btn btn-sm btn-outline-secondary exit_game" data-index="1">Cancel</button>
                                    <button type="button" class="btn btn-sm to_game btn-outline-secondary ms-3">Continue</button>
                                </div>
                            </div>
                            <div class="turns hide" style="width: 55%">
                                <h1>Player One's Turn</h1>
                                <div class="d-flex justify-content-end" style="width: 95%; margin-top: 100px">
                                    <button type="button" class="btn btn-sm btn-outline-secondary px-4 exit_game" data-index="3">Quit</button>
                                </div>
                            </div>
                        </div>
                        <div class="box_2">
                            <div class="tictactoe">
                                <div class="player"></div>
                                <div class="player"></div>
                                <div class="player"></div>
                                <div class="player"></div>
                                <div class="player"></div>
                                <div class="player"></div>
                                <div class="player"></div>
                                <div class="player"></div>
                                <div class="player"></div>
                            </div>
                        </div>
                </div>
                <div class="rt">
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Home">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="About">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Projects">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Contact">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Game">
                        <i class="fas fa-puzzle-piece"></i>
                    </div>
                </div>
            </div>
            <!-- ========== Base ========== -->
            <div id="dn" class="container d-none d-lg-block">
                <footer>
                    <p>Template Made By Me. &copy; 2022. All Rights Reserved.</p>
                </footer>
            </div>
            <div id="nav_m" class="nav_m">
                <ul>
                    <li class="mt h">
                        <i class="fas fa-home"></i>
                    </li>
                    <li class="mt a">
                        <i class="fas fa-user"></i>
                    </li>
                    <li class="mt p">
                        <i class="fas fa-laptop-house"></i>
                    </li>
                    <li class="mt c">
                        <i class="fas fa-envelope-open"></i>
                    </li>
                    <li class="mt g">
                        <i class="fas fa-puzzle-piece"></i>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    <script src="./../static/js/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="./../static/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.2.0/dist/iconify-icon.min.js"></script>
    <script>
        // Page Resize for large screens
        // ==============================================================================================
            let pageResize = () => {
                if (screen.width >= 992) {
                    const ua = navigator.userAgent;
                    const isMobile = /Tablet|Mobi|iPhone|iPad|iPod|Android/i.test(ua);

                    if (!isMobile && navigator.maxTouchPoints < 1) {
                        // Set height of menu
                        document.getElementById("ext").setAttribute("style", "height: 100vh");
                    }
                }
            }
            
            document.addEventListener("DOMContentLoaded", pageResize);
            window.addEventListener("resize", pageResize);
            screen.addEventListener("orientationchange", pageResize);
    </script>
</html>
