<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="”robots”" content="”noindex, nofollow”" />
        <link rel="stylesheet" href="./../static/css/bootstrap.css" />
        <link rel="stylesheet" href="./../static/css/all.min.css" />
        <link rel="stylesheet" href="./../static/css/app.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="./../static/favicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="./../static/favicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="./../static/favicon_io/favicon-16x16.png" />
        <link rel="manifest" href="./../static/favicon_io/site.webmanifest" />
        <title>Kennedy Chidiebere O.</title>
    </head>
    <body>
        <!-- ========== Full Cover ========== -->
        <div id="ext" class="container">
            <!-- Homepage -->
            <!-- ============================================================================= -->
            <div class="md hm closed" id="hm">
                <div class="lt text-center">
                    <div id="profile_pic"></div>
                    <h2 class="text-center fw-bold mb-2">Kennedy C. Ogbonna</h2>
                    <h4 class="text-center fw-semibold mb-3">(He/Him)</h4>
                    <p class="text-center fs-5 mb-4">Full-Stack Developer</p>
                    <div class="msgs">
                        <div>
                            <i class="fab fa-github-square"></i>
                        </div>
                        <div>
                            <i class="fab fa-linkedin"></i>
                        </div>
                        <div>
                            <i class="fab fa-facebook-square"></i>
                        </div>
                        <div>
                            <i class="fab fa-twitter-square"></i>
                        </div>
                        <div>
                            <i class="fab fa-whatsapp-square"></i>
                        </div>
                    </div>
                </div>
                <div class="mid">
                    <div id="n1">
                        <h1 class="fw-bold mb-2 text-capitalize">Hello .....</h1>
                        <p>My journey as a Full-Stack Developer has been an exciting one, each project is like a new adventure where I get to dive deep into technologies like JavaScript and React for the frontend while harnessing the power of Node.js on the backend. Building engaging solutions is not just my job, it’s my passion.</p>
                        <p>If you’re looking for someone who can bring creativity and technical expertise to your next project or team, feel free to reach out! Let’s connect over email, I’d love to discuss how we can collaborate on innovative solutions together.</p>
                        <div class="d-flex justify-content-between mt-4">
                            <button>Send A Message</button>
                        </div>
                    </div>
                </div>
                <div class="rt">
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Home">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="About">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Projects">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Contact">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Blog">
                        <i class="fas fa-blog"></i>
                    </div>
                </div>
            </div>

            <!-- About Page -->
            <div class="md abt" id="abt">
                <div class="lt">
                    <!-- Details -->
                    <div class="info">
                        <!-- Left -->
                        <div class="abt_info_lt">
                            <!-- Personal Information -->
                            <h2 class="fw-bold mb-4">Personal Information:</h2>
                            <div>
                                <div>
                                    <p class="mb-4">First Name: <span>Kennedy</span></p>
                                    <p class="mb-4">Last Name: <span>Ogbonna</span></p>
                                    <p class="mb-4">Age: <span>31 years</span></p>
                                    <p class="mb-4">Nationality: <span>Nigerian</span></p>
                                    <p class="mb-4">Country of Residence: <span>United Kingdom</span></p>
                                </div>
                                <div>
                                    <p class="mb-4">Phone: <span>+44 7831630144</span></p>
                                    <p class="mb-4">Email: <span>Kennedychidi55@gmail.com</span></p>
                                    <p class="mb-4">LinkedIn: <span>linkedin.com/in/kennedychidi</span></p>
                                    <p class="mb-4">Languages: <span>English, Igbo</span></p>
                                    <p class="mb-4">Availability: <span>Freelance, Contract, Part-time, Full-time.</span></p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-3">
                                <a href="./../static/file/resume.pdf" download="Resume">
                                    <button>Download Resume</button>
                                </a>
                            </div>
                        </div>
                        <!-- Right -->
                        <div class="abt_info_rt">
                            <div>
                                <div>
                                    <p class="fw-bold">5</p>
                                </div>
                                <div>
                                    <p>Years Of <span class="d-block">Experience</span></p>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <p class="fw-bold">20</p>
                                </div>
                                <div>
                                    <p>Completed <span class="d-block">Projects</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <!-- Skills -->
                    <div class="skls">
                        <h2 class="fw-bold">Skills</h2>
                        <div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:language-html5" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>HTML 5</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:language-css3" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>CSS 3</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="fluent:javascript-24-regular" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>JavaScript</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:react" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>React JS</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="cib:redux" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Redux</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:nodejs" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Node JS</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:language-python" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Python</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="simple-icons:selenium" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Selenium</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:github" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Git</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="devicon:flask" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Flask</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:language-cpp" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>C++</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="flowbite:mongo-db-solid" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>MongoDB</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:docker" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>Docker</p>
                            </div>
                            <div class="icon_cont">
                                <div class="brand">
                                    <iconify-icon icon="mdi:kubernetes" width="100%" height="100%"></iconify-icon>
                                </div>
                                <p>kubernetes</p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <!-- Education & Work Experience -->
                    <div class="edu_work">
                        <h2 class="fw-bold">Education & Work Experience</h2>
                        <!-- <div>
                            <h2 class="fw-bold">Work Experience</h2>
                            <div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div>
                            <h2 class="fw-bold">Education</h2>
                        </div> -->
                    </div>
                    <!-- <div class="title">
                        <h2 style="font-family: Nunito Bold">Education</h2>
                    </div>

                    <div id="univ">
                        <h3>Imo State University</h3>
                        <h5>Bachelor of Medicine, Bachelor of Surgery [M.B.B.S]</h5>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">October 2022</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Owerri, Imo State, Nigeria</p>
                        </div>
                    </div>

                    <div id="tech">
                        <h3>Web Development</h3>
                        <h5>Pirple.com || Udemy.com || Coursera.com</h5>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">February 2019 - Current</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Owerri, Imo State, Nigeria</p>
                        </div>
                    </div> -->
                </div>
                <div class="rt">
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Home">
                        <i class="fas fa-home"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="About">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Projects">
                        <i class="fas fa-laptop-house"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Contact">
                        <i class="fas fa-envelope-open"></i>
                    </div>
                    <div class="bt" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Blog">
                        <i class="fas fa-blog"></i>
                    </div>
                </div>
            </div>

            <!-- Work Page -->
            <div class="md wk closed" id="wk">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>RedRock Technologies Ltd</h3>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">July 2020 - September 2021</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Imo State, Nigeria</p>
                        </div>
                        <ul>
                            <li>Worked as a team leader and fullstack developer in the development and maintenance of RedRock Inventory Management System [RIMS]</li>
                            <li>Developed accessible, responsive and functional user interface to allow visitors on any device to same same perfect user experience</li>
                            <li>Developed and maintained Node.js based Rest API, with Paystack Payment integration and synchronization of data collected by the RIMS across network of customers</li>
                            <li>Diagnosed and troubleshooted different websites of the company's important clients, by deploying updated knowledge of modern technologies and techniques in the industry</li>
                            <li>Helped maintain code quality, organization and automation of other applications owned by the company</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/RedRock-IMS">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="mid">
                    <div class="title" style="visibility: hidden">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>MEDSOPH</h3>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">January 2022 - Present</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Imo State, Nigeria</p>
                        </div>
                        <ul>
                            <li>Developing a healthcare system / platform for online medical services, comprising of laboratories, pharmacies, doctor's forum / hub, using React while managing State through Redux.</li>
                            <li>Also developing an API following RESTFUL standards to allow effective data processing, storage and access.</li>
                            <li>Project is still under development, although beta version for the laboratory which is a web app that stores test information, takes inventory of laboratory test kits and reagents, analyses and outputs data to dashboard, gives real time notification of items out of stock, sends test results to clients ......, has been pushed out and is currently undergoing client testing. PWA version of the laboratory app was also rolled out to enhance user experience. The doctor's forum and pharmaceutical aspects of the MEDSOPH health system is still in development (React / Redux).</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/Sigma_Solutions">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="mid">
                    <div class="title" style="visibility: hidden">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>Markie Stores</h3>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">June 2022 - Present</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Imo State, Nigeria</p>
                        </div>
                        <ul>
                            <li>Developing an E-commerce website for sales of medical Scrubs, Sneakers, Ward Coats, and accessories using React while managing State through Redux.</li>
                            <li>Also developing an API following RESTFUL standards to allow effective data processing, storage and access.</li>
                            <li>Project is still under development, although beta versions has been pushed out and is currently undergoing client testing.</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/Markie_Store">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- Project Page -->
            <div class="md pgt closed" id="pgt">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Side Projects</h2>
                    </div>

                    <div class="work">
                        <h3>Portfolio Website</h3>
                        <ul>
                            <li>My Portfolio</li>
                            <li><span style="font-weight: 600">Tech Stack: </span>HTML, CSS, Vanilla JS, Python, Flask</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/Personal">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="mid">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>Arbitrage App</h3>
                        <ul>
                            <li>A python app for calculating arbitrage opportunities, across multiple betting sites.</li>
                            <li>Data is gotten by web scrapping, with the use of Selenium and BeautifulSoup python modules, ......</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/Arbitrage">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="mid">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>Forex Trading App</h3>
                        <ul>
                            <li>A python app for Forex trading, that connects to MT5, places a trade, monitors Stop Losses and Profit, closes unfavorable trades.</li>
                            <li><span style="font-weight: 600">Tech Stack: </span>HTML, CSS, Vanilla JS, Python, Flask</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/Forex-auto-trader">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- Contact Page -->
            <div class="md cont closed" id="cont">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Contact</h2>
                    </div>

                    <div class="work">
                        <form action="https://formsubmit.co/5c55b558ad364cab6976e74ff6ce06da" method="post">
                            <div>
                                <label for="Email" style="margin-left: 5px">Email:</label> <br />
                                <input type="email" name="Email" id="email" placeholder="someone@email.com" required />
                            </div>
                            <div>
                                <label for="Subject" style="margin-left: 5px">Subject:</label> <br />
                                <input type="text" name="Subject" id="subject" placeholder="Hello" required />
                            </div>
                            <div>
                                <label for="Message" style="margin-left: 5px">Message:</label> <br />
                                <textarea name="Message" id="message" cols="100" rows="5" required>Message ........</textarea>
                            </div>
                            <input type="hidden" name="_captcha" value="false" />
                            <button type="submit">Send Message</button>
                        </form>
                    </div>
                </div>
                <div class="mid" style="display: none; min-height: calc(0.245 * 100vh)"></div>

                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>
            <!-- ========== Base ========== -->
            <!-- <div id="dn">
                <footer>
                    <p>Template Made By Me. &copy; 2022. All Rights Reserved.</p>
                </footer>
            </div> -->
            <div id="nav_m" class="nav_m">
                <ul>
                    <li class="mt h">
                        <i class="fas fa-home"></i>
                    </li>
                    <li class="mt i">
                        <i class="fas fa-info-circle"></i>
                    </li>
                    <li class="mt w">
                        <i class="fas fa-laptop-house"></i>
                    </li>
                    <li class="mt p">
                        <i class="fab fa-buffer"></i>
                    </li>
                    <li class="mt c">
                        <i class="fas fa-comment"></i>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    <script src="./../static/js/bootstrap.bundle.js"></script>
    <script src="./../static/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.2.0/dist/iconify-icon.min.js"></script>
</html>
