<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="”robots”" content="”noindex,nofollow”" />
        <link rel="stylesheet" href="./../static/css/normalize.css" />
        <link rel="stylesheet" href="./../static/css/all.min.css" />
        <link rel="stylesheet" href="./../static/css/app.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="./../static/favicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="./../static/favicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="./../static/favicon_io/favicon-16x16.png" />
        <link rel="manifest" href="./../static/favicon_io/site.webmanifest" />
        <title>Kennedy Chidiebere O.</title>
    </head>
    <body>
        <!-- ========== Full Cover ========== -->
        <div id="ext">
            <!-- ========== Upper layer ========== -->
            <div id="tp">
                <div id="logo">
                    <h3>Portfolio</h3>
                </div>
                <div id="nav">
                    <ul>
                        <li class="bt">Home</li>
                        <li class="bt">About</li>
                        <li class="bt">Work</li>
                        <li class="bt">Projects</li>
                        <li class="bt">Contact</li>
                    </ul>
                </div>
            </div>

            <!-- ========== Middle layer ========== -->
            <!-- Homepage -->
            <div class="md hm" id="hm">
                <div class="lt">
                    <div id="n1">
                        <h1 style="font-family: Nunito Bold">Hi, I'm Kennedy</h1>
                        <p>A FullStack Web Developer with experience in building Web based applications, using HTML5, CSS3, JavaScript, React.js, Node.js, Python // Flask.</p>
                        <a href="./../static/file/Web Developer (1).pdf" download="Resume">
                            <button>Download Resume</button>
                        </a>
                    </div>
                </div>
                <div class="mid">
                    <div id="profile_pic"></div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- About Page -->
            <div class="md abt closed" id="abt">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Education</h2>
                    </div>

                    <div id="univ">
                        <h3>Imo State University</h3>
                        <h5>Bachelor of Medicine, Bachelor of Surgery [M.B.B.S]</h5>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">September 2010 - Current</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Imo State, Nigeria</p>
                        </div>
                    </div>

                    <div id="tech">
                        <h3>Web Development</h3>
                        <h5>Pirple.com || Udemy.com || Coursera.com</h5>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">Febuary 2019 - Current</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Imo State, Nigeria</p>
                        </div>
                    </div>
                </div>
                <div class="mid">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Technologies</h2>
                    </div>

                    <div id="skill">
                        <ul>
                            <li>
                                <div class="brand">
                                    <span class="iconify" data-icon="logos:html-5" data-width="60%" data-height="60%"></span>
                                </div>
                                <p>HTML 5</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <span class="iconify" data-icon="logos:css-3" data-width="60%" data-height="60%"></span>
                                </div>
                                <p>CSS 3</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <span class="iconify" data-icon="logos:javascript" data-width="60%" data-height="60%"></span>
                                </div>
                                <p>JavaScript</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <span class="iconify" data-icon="logos:react" data-width="60%" data-height="60%"></span>
                                </div>
                                <p>React JS</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <span class="iconify" data-icon="logos:nodejs-icon" data-width="60%" data-height="60%"></span>
                                </div>
                                <p>Node JS</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <span class="iconify" data-icon="logos:python" data-width="60%" data-height="60%"></span>
                                </div>
                                <p>Python</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <span class="iconify" data-icon="logos:git-icon" data-width="60%" data-height="60%"></span>
                                </div>
                                <p>Git</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <span class="iconify" data-icon="logos:flask" data-width="60%" data-height="60%"></span>
                                </div>
                                <p>Flask</p>
                            </li>
                            <li>
                                <div class="brand">
                                    <span class="iconify" data-icon="logos:c-plusplus" data-width="60%" data-height="60%"></span>
                                </div>
                                <p>C++</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->

                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- Work Page -->
            <div class="md wk closed" id="wk">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>RedRock Technologies Ltd</h3>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">August 2020 - February 2021</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">Imo State, Nigeria</p>
                        </div>
                        <ul>
                            <li>Developed and maintained an Inventory Management System at RedRock Technologies Ltd, Owerri, Imo State.</li>
                            <li>Developed and maintained a node.js Rest API with PayStack Payment integration and synchronization of data collected by the Inventory Management System across network of customers.</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/RedRock-IMS">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="mid">
                    <div class="title" style="visibility: hidden">
                        <h2 style="font-family: Nunito Bold">Work Experience</h2>
                    </div>

                    <div class="work">
                        <h3>Web Developer</h3>
                        <div class="ed">
                            <i class="far fa-calendar-alt"></i>
                            <p style="font-size: 12px">January 2020 - Present</p>
                        </div>
                        <div class="ed">
                            <i class="fas fa-map-marker-alt"></i>
                            <p style="font-size: 12px">New York, NY</p>
                        </div>
                        <ul>
                            <li>Freelance development and maintenance of the website and node.js Rest API for lustyorgasms.com (18+).</li>
                            <li>Search Engine Optimization of the Website.</li>
                        </ul>
                        <button>
                            <a href="https://github.com/kennedyC2/Lustyorgasms">Git Repo</a>
                        </button>
                    </div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- Project Page -->
            <div class="md pgt closed" id="pgt">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Projects</h2>
                    </div>

                    <div>
                        <div class="work">
                            <div class="pg_pic" id="p1"></div>
                            <div class="pg_t" style="background-color: #ffffff; padding-top: 5px">
                                <h3>RedRock Technologies Ltd</h3>
                                <div class="ed">
                                    <i class="fab fa-buffer"></i>
                                    <p style="font-size: 12px">Inventory Management System</p>
                                </div>
                                <div class="ed">
                                    <i class="fab fa-buffer"></i>
                                    <p style="font-size: 12px">August 2020 - February 2021</p>
                                </div>
                            </div>
                        </div>

                        <div class="work">
                            <div class="pg_pic" id="p2"></div>
                            <div class="pg_t" style="background-color: #ffffff; padding-top: 5px">
                                <h3>Lusty Orgasms</h3>
                                <div class="ed">
                                    <i class="fab fa-buffer"></i>
                                    <p style="font-size: 12px">18+ Website</p>
                                </div>
                                <div class="ed">
                                    <i class="fab fa-buffer"></i>
                                    <p style="font-size: 12px">January 2020 - Present</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>

            <!-- Contact Page -->
            <div class="md cont closed" id="cont">
                <div class="lt">
                    <div class="title">
                        <h2 style="font-family: Nunito Bold">Contact</h2>
                    </div>

                    <div class="work">
                        <form action="https://formsubmit.co/kennedychidi55@gmail.com" method="post">
                            <div>
                                <label for="email" style="margin-left: 5px">Email:</label> <br />
                                <input type="email" name="email" id="email" placeholder="someone@email.com" required />
                            </div>
                            <div>
                                <label for="subject" style="margin-left: 5px">Subject:</label> <br />
                                <input type="text" name="subject" id="subject" placeholder="Hello" required />
                            </div>
                            <div>
                                <label for="message" style="margin-left: 5px">Message:</label> <br />
                                <textarea name="message" id="" cols="100" rows="7" required>Enter Message Here ........</textarea>
                            </div>
                            <button type="submit">Send Message</button>
                        </form>
                    </div>
                </div>
                <div class="mid" style="visibility: hidden; min-height: calc(0.245 * 100vh)"></div>

                <div class="rt">
                    <div>
                        <i class="fab fa-github"></i>
                    </div>
                    <div>
                        <i class="fab fa-linkedin"></i>
                    </div>
                    <div>
                        <i class="fab fa-facebook-square"></i>
                    </div>
                    <div>
                        <i class="fab fa-twitter-square"></i>
                    </div>
                    <!-- <div>
                        <i class="fab fa-instagram-square"></i>
                    </div> -->
                    <div>
                        <i class="fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>
            <!-- ========== Base ========== -->
            <div id="dn">
                <footer>
                    <p style="visibility: hidden">Template Made By Me. &copy; 2022. All Rights Reserved.</p>
                </footer>
            </div>
            <div id="nav_m" class="nav_m out">
                <ul>
                    <li class="mt h">
                        <i class="fas fa-home"></i>
                    </li>
                    <li class="mt i">
                        <i class="fas fa-info-circle"></i>
                    </li>
                    <li class="mt w">
                        <i class="fas fa-laptop-house"></i>
                    </li>
                    <li class="mt p">
                        <i class="fab fa-buffer"></i>
                    </li>
                    <li class="mt c">
                        <i class="fas fa-comment"></i>
                    </li>
                </ul>
            </div>
        </div>
    </body>
    <script src="./../static/js/app.js"></script>
    <script src="./../static/js/iconify.min.js"></script>
</html>
